@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}


body {
  margin: 12;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.btn{

  float: right ; 
  padding: 20px;
  margin: 5px;
}

.card{
  align-items: center;
  text-align: center;
}
.out-card{
  border: black 20bx;
}
.line{
  height:2px;
  border-width:0;
  color:gray;
  background-color:gray;
}
.center{
  align-items: center;
  text-align: center;

}
.add{
  margin-right: 5px ;
  padding: 10px ;
}